body{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100vw;
  height: 100vh;
}

.square{
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  font-weight: bold;
}

.board {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board div:nth-child(1){
  border-left: none;
}

.board div:nth-child(3) {
  border-right: none;
}

#first .square{
  border-top: none;
}

#third .square{
  border-bottom: none;
}

.status {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.reset {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset:hover{
  box-shadow: 0 0 10px rgb(65, 65, 65);
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  
}




